<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin View</title>
  </head>

  <body>

<h1>Kayak Admin Page</h1> 

<a href="/">Renter Page</a>
    <!-- returns to the index page when a adding or deleting might -->


<section data-position="add-kayak"> 
  <!-- prevent user from adding kayak if left blank -->
    <h3>Add Kayak</h3>

    <form action="/result" method="POST">
      <input type="text" placeholder="Kayak name" name="name" required />
      <button type="submit">Add Now!</button>
    </form>


  </section>

  <section data-position="Renters">


    <h2> Renter Information </h2> 

    <ul class = "list">
        <% for(var i = 0; i < renters.length; i++) {%>
        <li class = "renters">

           
            <form action="/deleteRenters/<%= renters[i]._id %>" method="post">
 
                  <%= renters[i].name %><br> <%= renters[i].phoneNum %> <br> <%= renters[i].dateRent %> <br>
                  <input type="hidden" name="name" value="<%= renters[i]._id %>">

              <input type="submit" value = "Delete" />
            </form>



            <div> <br> </div>

        </li>
        <% } %>
        

    </section> 

<!-- test code 
 -->
 <!-- <ul class = "list">
  <% for(var i = 0; i < renters.length; i++) {%>
  <li class = "renters">
      <span>Renter: <%= renters[i].name %></span><br>
      <div> <br> </div>

  </li>
  <% } %> -->
  
  <a target="blank" href="https://github.com/astricklandd/unimportant-zebra">Source Code</a>
</body>
</html>
