<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin View</title>

    <link rel="stylesheet" href="styles.css">
    
  
  <nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#">OAC Admin</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="#" onclick="window.location.href= '/';">
  Kayaks
</a></li>
              <li><a href="#" onclick="window.location.href= 'https://gorgeous-sweatsuit-calf.cyclic.app/';">
  Admin
</a></li>
                <li><a href="#">Renter Information</a></li>
                
                <li><a href="#" onclick="window.location.href= 'https://github.com/astricklandd/unimportant-zebra/';">
  Source Code
</a></li>
<!-- 									 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    Dropdown link
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Link 1</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
  </div>
</li> -->
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

<section class="home">
</section>
<center>
<div class="card">
  <div class="card-header">
      <div style="height: 150px">
    <!-- just to make scrolling effect possible -->
            <h2 class="myH2">There are <%= kayaksAvailable %> available kayaks! </h2> <br>
          </div>

          <!-- Jquery needed -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="js/scripts.js"></script>

          <!-- Function used to shrink nav bar removing paddings and adding black background -->
          <script>
              $(window).scroll(function() {
                  if ($(document).scrollTop() > 50) {
                      $('.nav').addClass('affix');
                      console.log("OK");
                  } else {
                      $('.nav').removeClass('affix');
                  }
              });
          </script>

</head>
  <body>

<h1>Kayak Admin Page</h1> 

<a href="/">Renter Page</a>
    <!-- returns to the index page when a adding or deleting might -->


<section data-position="add-kayak"> 
  <!-- prevent user from adding kayak if left blank -->
    <h3>Add Kayak</h3>

    <form action="/result" method="POST">
      <input type="text" placeholder="Kayak name" name="name" required />
      <button type="submit">Add Now!</button>
    </form>


  </section>

  <section data-position="Kayaks">


    <h2> Kayak Information </h2> 
    <!-- This is currently displaying kayak IDs, not renter information  -->
    <ul class = "list">
        <% for(var i = 0; i < kayaks.length; i++) {%>
        <li class = "kayaks">
          <h3 class="myH3">

            <!-- not nessecary
              <span>Kayak: <%= kayaks[i].name %></span><br> 
            <span>Kayakid: <%= kayaks[i]._id %></span><br> -->
           
            

            <form action="/deleteKayaks/<%= kayaks[i]._id %>" method="post">
              <!-- 11/23 all it's doing at the moment is sending the id to console -->
              <!-- dleete this after delete is wokring  -->
                <!-- <p><%= kayaks[i]._id %></p>  -->
          
                <!-- <input type="hidden" name="id" value="<%= kayaks[i]._id %>"> -->
                 <%= kayaks[i].name %> <br> <%= kayaks[i]._id %><br>
                  <input type="hidden" name="id" value="<%= kayaks[i]._id %>">

              <input type="submit" value = "Delete" />
            </form>

            <div> <br> </div>

        </li>
        <% } %>
        
      </h3>
    </section> 

<!-- test code 
 -->
 <!-- <ul class = "list">
  <% for(var i = 0; i < renters.length; i++) {%>
  <li class = "renters">
      <span>Renter: <%= renters[i].name %></span><br>
      <div> <br> </div>

  </li>
  <% } %> -->
  
  <a target="blank" href="https://github.com/astricklandd/unimportant-zebra">Source Code</a>
</body>
</html>
